/* Header - title, add item*/
.header-container {
  display: flex;
  text-align: center;
  height: 90px;
}

.invisible-container {
  flex: 1; /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  /* // flex:1; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-item-trigger {
  /* height: 100%;
    //flex:1; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 0px;
  padding-right: 1.5rem;
}

.modal-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-header {
  border: none;
}

/* Pagination */
.pagination {
  margin: 0;
}

/* Card */
h5,
p {
  margin: 0;
}

.done-button {
  font-size: 0.7rem;
}

/* Icons */
.bi-plus-circle-fill {
  font-size: 1.5rem;
}

.bi-x-lg {
  font-size: 0.8rem;
}

.icon-btn {
  padding: 0.3rem 0.65rem;
  margin-left: 0.3rem;
  border-radius: 5px;
  transition: all 0.4s;
  cursor: pointer;
}

.icon-btn:hover {
  background-color: #dee2e6;
}

.errMessage {
  color: #dc3545;
}
