body {
  background-color: #f8f9fa;
}

/* Header--------------------------------*/
.header-container {
  display: flex;
  text-align: center;
  height: 90px;
}

.invisible-container {
  flex: 1; /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item-trigger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

/* Card--------------------------------*/

h5,
p {
  margin: 0;
}

.done-button {
  font-size: 0.7rem;
}

.card-shadow {
  box-shadow: 0px 0px 30px rgb(83 88 93 / 10%);
  border: none;
}

.card-heading-primary {
  color: #0d253f;
}

.modal-content.modal-img,
.card.card-shadow,
.category-title-review,
.category-title-todo,
.category-title-inprogress,
.category-title-done {
  background-image: url(../images/bg-27.png);
  background-size: cover;
}

.category-title {
  margin: 0.75rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.507);
}

.category-title-review,
.category-title-todo,
.category-title-inprogress,
.category-title-done {
  min-height: 8vh;
  margin: 0 0.1rem 0.5rem 0.1rem;
  border-radius: 5px;
}

.icon-title-big {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.849);
}
.category-title-review {
  background-color: #e4647e;
}
.category-title-todo {
  background-color: #309397;
}
.category-title-inprogress {
  background-color: #f9be7c;
}
.category-title-done {
  background-color: #d8d6e3;
}

/* Icon buttons---------------------------*/
.bi-plus-circle-fill {
  font-size: 1.5rem;
}

.bi-x-lg {
  font-size: 0.8rem;
}

.icon-btn {
  padding: 0.3rem 0.65rem;
  margin-left: 0.3rem;
  border-radius: 5px;
  transition: all 0.4s;
  cursor: pointer;
}

.icon-btn:hover {
  background-color: #dee2e6;
}

/* Modal--------------------------------*/

.close-btn {
  position: absolute;
  right: 0px;
  padding-right: 1.5rem;
}

.modal-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-header {
  border: none;
}

.errMessage,
.bi.bi-asterisk {
  color: #dc3545;
}

.bi.bi-asterisk {
  font-size: 0.5rem;
}
